/* Estilos Gerais */
body {
    margin: 0;
    padding: 0;
}

/* Estilos do Card */
.fazenda-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    background-color: white;
    transition: background-color 0.3s ease; /* Efeito de transição suave */
}

.fazenda-card img {
    max-width: 150px;
    height: auto;
}

.fazenda-card h3 {
    margin: 10px 0;
}

.fazenda-card p {
    margin-bottom: 20px;
}

.fazenda-card button {
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efeito de transição suave */
}

.fazenda-card.selected {
    background-color: yellow; /* Cor de destaque para a fazenda selecionada */
}

.fazenda-card.selected .select-button {
    background-color: green; /* Cor de destaque para o botão selecionado */
}

.edit-button, .delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.select-button {
    background-color: #333; /* Verde permanente */
    color: #fff;
}

.edit-button {
    background-color: #00cc00; /* Verde permanente */
    color: #fff;
}

.delete-button {
    background-color: #cc0000; /* Vermelho permanente */
    color: #fff;
}

.card-buttons {
    /* ... (outros estilos) */
    display: flex;
    justify-content: space-between;
}

.button-space {
    width: 10px; /* Espaço entre os botões */
}


/* Estilos para o top toolbar */
.top-toolbar {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.top-toolbar h1 {
    margin: 0;
    font-size: 24px;
}

.top-toolbar .search-bar {
    flex-grow: 1;
    margin: 0 20px;
}

.top-toolbar .search-bar input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.top-toolbar .add-button {
    background-color: green; /* Alterado para verde */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.top-toolbar a {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.top-toolbar a:hover {
    background-color: #ddd;
    color: black;
}